%h1.title Edit #{@hub.fields['City']}, #{@hub.fields['State']} Hub Info

%article.message.is-warning
  %p.message-body
    On this page, you can edit all of the information that appears about your hub on the
    %a{href: 'https://sunrisemovement.org/hubs', target: '_blank'} Sunrise movement hub map!

%form{action: '/hub', method: 'POST'}
  %fieldset
    .columns
      .column
        %h2.subtitle Map Information
        - ['Name', 'Website', 'Facebook Handle', 'Twitter Handle', 'Instagram Handle'].each do |field|
          .field
            %label.label= field
            .control
              %input.input{name: field, value: @hub.fields[field]}
        .field
          %label.label Is your hub active?
          .control
            .select
              %select
                %option Yes, we're going strong!
                %option Yes, though we could use some help...
                %option Nope, this hub is not active. Don't list us :(
      .column
        %h2.subtitle Pin Location
        - ['Latitude', 'Longitude'].each do |field|
          .field
            %label.label= field
            .control
              %input.input{name: field, placeholder: field, id: field, value: @hub.fields[field]}
            - if field == 'Longitude'
              %p.help
                Google has
                %a{href: 'https://support.google.com/maps/answer/18539', target: '_blank'}
                  helpful instructions
                for finding these!
        .field
          %label.label
            How that looks
          .control
            %iframe#map-iframe{src: "https://maps.google.com/maps/embed/v1/place?q=#{@hub.fields['Latitude']},#{@hub.fields['Longitude']}&key=#{ENV['GOOGLE_MAPS_API_KEY']}", style: "width: 100%; min-height: 250px", :"data-key" => ENV['GOOGLE_MAPS_API_KEY'] }

  %br
  %input.button.is-primary{type: 'submit', value: 'Update Hub Map Information'}

:javascript
  const latInput = document.getElementById('Latitude')
  const lngInput = document.getElementById('Longitude')
  const mapIframe = document.getElementById('map-iframe')
  const reloadBtn = document.getElementById('reload-map')
  const key = mapIframe.attributes['data-key'].value;

  const resetMap = () => {
    mapIframe.setAttribute("src", `https://maps.google.com/maps/embed/v1/place?q=${latInput.value},${lngInput.value}&key=${key}`);
  };

  latInput.oninput = resetMap;
  lngInput.oninput = resetMap;
