%h1.title Sunrise Hubhub
%p
  Welcome to our new system for collecting and updating Hub information!!
%h2
  %span.marker-bullet
  Here you can:
%ul
  %li
    %a{href: '/map/edit'} Update
    your hub's
    %a{href: '/map'} map information
    without having to fill out a request form
  %li
    See and manage all of your
    %a{href: '/soth'} hub status
    and
    %a{href: '/leaders'} hub leader
    information
  %li
    Join one of our newly launched
    %a{href: 'http://smvmt.org/rolenetworks', target: '_blank'} Role Networks

%h2
  %span.marker-bullet
  How does this help you?
%ul
  %li
    Lets you display correct info on the
    %a{href: 'https://www.sunrisemovement.org/hubs', target: '_blank'} hub map
    to help your hub absorb new members
  %li
    Lets Sunrise National contact the right Hub Leader instead of always reaching out to the Hub Coordinator, especially in rapid response situations
  %li
    Helps us create better systems to support Hubs, like
    %a{href: 'http://smvmt.org/rolenetworks', target: '_blank'} Role Networks
  %li
    Allows your
    %a{href: 'http://smvmt.org/RO', target: '_blank'} Regional Organizers
    to better serve your area by facilitating communication flow across the Movement

%h2
  %span.marker-bullet
  How does this help the whole Movement?
%ul
  %li
    Having updated hub information enables us to project our budget for the year
  %li
    Helps us set smart goals for events like actions, trainings, and summits
  %li
    Allows us to track the health and growth of the movement

%h2
  %span.marker-bullet
  How to use it
%ul
  %li
    Go to
    %a{href: '/soth'} State of the Hub
    to view hub status information, or
    make an update
    = succeed '!' do
      %a{href: ENV['SOTHUB_FORM'], target: '_blank'} here
  %li
    Go to
    %a{href: '/map'} View Map
    to see how your map card will look to the public on the main site,
    and
    %a{href: '/map/edit'} Edit Map
    to change it.
  %li
    Go to
    %a{href: '/leaders'} Manage Leaders
    to see who's filled out the
    = succeed '.' do
      %a{href: ENV['LEADER_FORM'], target: '_blank'} hub leader form
  %li
    = succeed '.' do
      You can log in to this tool using your hub email (#{@hub['Email']}) or designated leader emails 
      - if (@hub['Map Editor Emails'] || []).compact.length > 0
        (#{to_sentence(@hub['Map Editor Emails'])})
      - else
        (currently none)
  %li
    If you need to change who receives the login email, click
    = succeed '!' do
      %a{href: '/hub_email'} here

%h2
  %span.marker-bullet
  When to use it
%ul
  %li
    Anytime you need to update Hub information
    %a{href: 'https://www.sunrisemovement.org/hubs', target: '_blank'} that gets shown on the website
  %li
    Anytime you get a
    %a{href: 'https://smvmt.org/hub-coordinate', target: '_blank'} new Hub Coordinator
  %li
    Anytime you need to
    %a{href: ENV['LEADER_FORM'], target: '_blank'} update Leader info
  %li
    Anytime a Hub Leader wants to join a
    %a{href: 'http://smvmt.org/rolenetworks', target: '_blank'} Role Network
  %li
    %strong EVERY MONTH
    to log the most updated information on your hub&mdash;you should aim to fill out the
    %a{href: ENV['SOTHUB_FORM'], target: '_blank'} State of the Hub form
    monthly!

- if ENV['SUPPORT_CONTACTS']
  %h2#contacts
    %span.marker-bullet
    Who to contact for support
  %table.table.is-bordered.is-striped.is-fullwidth
    %thead
      %tr
        %th Name
        %th Role
        %th Slack
        %th Email
    %tbody
      - ENV['SUPPORT_CONTACTS'].split("+").each do |row|
        %tr
          - row.split("|").map(&:strip).each do |col|
            %td= col

  If you want to reach out to your regional organizer, check out
  %a{href: "http://smvmt.org/RO", target: "_blank"} this doc!

