%h1 Sunrise Hubhub
%p

%h2
  %span.marker-bullet
  What It Is
%ul
  %li
    A place where you can
    %a{href: '/map/edit'} update
    your
    %a{href: '/map'} public map information
    without having to fill out a request form
  %li
    A place where you can see and manage all of your
    %a{href: '/soth'} hub status
    and
    %a{href: '/leaders'} hub leader
    information

%h2
  %span.marker-bullet
  Why We're Using It
%ul
  %li To have a one-stop-shop for hub data updates!
  %li
    Because having the most up to date data on hubs allows us to:
    %ul
      %li project our budget :D
      %li set smart goals for events :D
      %li track the growth of the movement :D
      %li display correct info on the map to gain new members :D
      %li let us contact the right hub leader :D
      %li helps us create better systems to support hubs :D

%h2
  %span.marker-bullet
  How To Use It
%ul
  %li
    Go to 
    %a{href: '/soth'} State of the Hub
    to view hub status information, or
    make an update
    %a{href: ENV['SOTH_FORM_URL'], target: '_blank'} here!
  %li
    Go to 
    %a{href: '/map'} View Map
    to see how your map card will look to the public on the main site,
    and
    %a{href: '/map/edit'} Edit Map
    to change it.
  %li
    Go to 
    %a{href: '/leaders'} Manage Leaders
    to see who's filled out the
    %a{href: ENV['HUB_LEADER_FORM'], target: '_blank'} hub leader form

%h2
  %span.marker-bullet
  When To Use It
%ul
  %li Anytime you need to update hub leader information
  %li Anytime you need to update hub information that gets shown on the website
  %li EVERY MONTH to give up the most up-to-date information on your hub

%h2
  %span.marker-bullet
  Who To Contact For Support
%ul
  %li
    %a{href: "mailto:#{ENV["DATA_QUESTION_EMAIL"]}"}
      #{ENV["DATA_QUESTION_NAME"]}
    for any questions about data we're collecting/forms/general resources
  %li
    %a{href: "mailto:#{ENV["NEWHUB_QUESTION_EMAIL"]}"}
      #{ENV["NEWHUB_QUESTION_NAME"]}
    for questions about becoming a hub
  %li
    %a{href: "mailto:#{ENV["SITE_FEEDBACK_EMAIL"]}"}
      #{ENV["SITE_FEEDBACK_NAME"]}
    for feedback on this system/site
  %li
    %a{href: "mailto:#{ENV["ROLENET_QUESTION_EMAIL"]}"}
      #{ENV["ROLENET_QUESTION_NAME"]}
    for any questions about Role Networks
