%h1.title Manage Leaders

%p
  In this section, you can manage information for everyone who has filled out the
  %a{href: "#{ENV['LEADER_FORM']}", target: '_blank'} hub leader form
  for #{@hub['Name']}.
%p
  NOTE: For our initial rollout of this system, we are not yet supporting
  fully featured editing. Instead, if you need to make edits,
  please remove and re-add leaders
  using the controls below. If you run into issues or want to change
  who receives the Hubhub login email, please contact us on Slack.

%a.button.is-warning{href: ENV['LEADER_FORM'], target: '_blank'} Add New Leader
%br
%br

%form{action: '/leaders', method: 'POST'}
  %table.table.is-bordered.is-striped.is-fullwidth.is-responsive
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th Phone
        %th Roles
        %th Remove?
    %tbody
      - @hub.leaders.each do |lead|
        %tr
          %td= lead['First Name']
          %td= lead['Last Name']
          %td= lead['Email']
          %td= lead['Phone']
          %td
            - (lead['Role'] || []).each do |role|
              %span.tag= role.gsub(' - Self Describe In Next Field', '')
          %td
            %label.checkbox
              %input{type: 'checkbox', name: "leaders[#{lead.id}][Deleted by Hubhub?]", checked: false}
              Remove from list

  %input.button.is-warning{type: 'submit', value: 'Update Leader Information'}
