%h1.title Update Summary

%p You edited the following information for #{@leader.name}:
%table.table.is-striped.is-bordered.is-fullwidth.is-responsive
  %thead
    %th Field
    %th Old Value
    %th New Value
  %tbody
    - if @diff.size > 0
      - @diff.each do |attr, (old, new)|
        %tr
          %td= attr.to_s.gsub('_', ' ')
          %td
            - if old.is_a?(Array)
              %ul
                - old.each do |entry|
                  %li= entry
            - else
              = old
          %td
            - if new.is_a?(Array)
              %ul
                - new.each do |entry|
                  %li= entry
            - else
              = new
    - else
      %tr
        %td.has-text-centered{colspan: 3} No changes to show

%a.button.is-link{href: '/leaders'} Back to Leaders Page
