%h1.title State of the Hub

%p
  On this page, you can see information about all of the 
  %a{href: ENV['SOTHUB_FORM'], target: '_blank'} State of the Hub forms
  that have been submitted for your hub. Please fill these out every month if you can!!

%p
  %a.button.is-warning{href: ENV['SOTHUB_FORM'], target: "_blank"} Fill out new State of the Hub form

%table.table.is-striped.is-bordered
  %thead
    %tr
      %th Date
      %th # Active Members
      %th # Direct Actions
      %th Email List Size
      %th Hub Strength
      %th Full Form
  %tbody
    - @hub.hub_forms.each do |hf|
      %tr
        %td= hf['Date Completed']
        %td= hf['Active Members']
        %td= hf['Direct Actions']
        %td= hf['Email List Size']
        %td= hf['Tier - Self Describe']
        %td
          %a.button.is-link{href: "/soth/#{hf.id}"} View
